/* Empty. Add your own CSS if you like */
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body, .Container {
  font-family: 'Lato', sans-serif;
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.details {
	margin: 200px !important;
	padding: 20px !important;
	background-color: lightgrey !important;
	border: 1px solid black !important;
}