<body>
  <div class="details">

  <ui-select ng-model="country.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;" title="Choose a country">
    <ui-select-match placeholder="Select Category">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="country in countries | filter: $select.search">
      <span ng-bind-html="country.name | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>

  <label class="item item-input">
    <input type="text" placeholder="Address" ng-model="loc">
  </label>

  <div class="recommend-btn">
  <button class="button button-royal" ng-click="recommend()">Recommend Me!</button>
  </div>
  </div>
  </body>