<html>
<head>
    <title>Event Reccomendations</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div="Container">
  	<div="LocationTextbox">
    		<label>Location you want to visit</label>
    		<input type="text" ng-model="location"/>
    </div>
    <div="CategoryDropdown">
    	 <select>
        <option value="museum">Museum</option>
        <option value="science">Science</option>
        <option value="nightlife">Night Life</option>
        <option value="attractions">Attractions</option>
      </select>
  	</ion-list>
    </div>
    <div="ReccommendButton">
  	   <button ng-click="recommend()">Recommend Me!</button>
    </div>
  </div>
</body>
</html>