<html>
<head>
  <title>Event Reccomendations</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Category
      </div>
      <select name="category" ng-model="category">
        <option selected value="museum">Museum</option>
        <option value="science">Science</option>
        <option value="nightlife">Night Life</option>
        <option value="art">Art</option>
        <option value="history">History</option>
      </select>
    </label>

  </div>

  <label class="item item-input">
    <input type="text" placeholder="Address" ng-model="loc">
  </label>



<!-- 
  <div="Container">
  	<div="LocationTextbox">
    		<label>Location you want to visit</label>
    		<input type="text" ng-model="location"/>
    </div>
    <div="CategoryDropdown">
    	 <select>
        <option value="museum">Museum</option>
        <option value="science">Science</option>
        <option value="nightlife">Night Life</option>
        <option value="attractions">Attractions</option>
      </select>
  	</ion-list>
  </div> -->
  <div="ReccommendButton">
  <button ng-click="recommend()">Recommend Me!</button>
</div>

<ion-list ion-royal>
<ion-item ng-repeat="poi in data" item-positive>
{{poi.name}}
</ion-item>
</ion-list>

</div>
</body>
</html>