<div class="">
  <button class="button button-outline button-calm" ng-click="home()"> Back</button>
  <button class="button button-outline button-calm" ng-click="modal.show()"> Recommend!</button>
</div>
<div class="row">
<div class="col">
 <div class="list list-inset">
 	<div ng-repeat="item in result">
    <a class="item item-thumbnail-left" href="#">
      <img ng-src="{{item.img}}">
      <h2>{{item.name}}</h2>
      <p>{{item.category}}</p>
    </a>
    </div>
</div>
</div>
<div class="col">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>
</div>